<template lang="pug">
div.contact-container
  div
    nuxt-icon(name="yerlen")
  div.contact-heading
    div {{ $t('author') }}
  div.contact-stack
    a(title="PHP")
      nuxt-icon(name="php-logo")
    a(title="GO")
      nuxt-icon(name="go-logo")
    a(title="Typescript")
      nuxt-icon(name="typescript-logo")
    a(title="Laravel framework")
      nuxt-icon(name="laravel-logo")
    a(title="Yii framework")
      nuxt-icon(name="yii-logo")
    a(title="Echo framework")
      nuxt-icon(name="echo-logo")
    a(title="Nuxt framework")
      nuxt-icon(name="nuxt-logo")
    a(title="Socket.io framework")
      nuxt-icon(name="socket.io-logo")
    a(title="Codeception testing framework")
      nuxt-icon(name="codeception-logo")
    a(title="PHPUnit testing framework")
      nuxt-icon(name="phpunit-logo")
    a(title="Postman")
      nuxt-icon(name="postman-logo")
    a(title="HTML 5")
      nuxt-icon(name="html5-logo")
    a(title="CSS 3")
      nuxt-icon(name="css3-logo")
    a(title="Tailwindcss CSS framework")
      nuxt-icon(name="tailwindcss-logo")
    a(title="Vue.js framework")
      nuxt-icon(name="vuejs-logo")
    a(title="Figma")
      nuxt-icon(name="figma-logo")
    a(title="RabbitMQ")
      nuxt-icon(name="rabbitmq-logo")
    a(title="Redis")
      nuxt-icon(name="redis-logo")
    a(title="MongoDB")
      nuxt-icon(name="mongodb-logo")
    a(title="Docker")
      nuxt-icon(name="docker-logo")
    a(title="Ansible")
      nuxt-icon(name="ansible-logo")
    a(title="OpenApi")
      nuxt-icon(name="openapi-logo")
    a(title="AsyncApi")
      nuxt-icon(name="asyncapi-logo")
    a(title="Gitlab")
      nuxt-icon(name="gitlab-logo")
    a(title="PostgreSQL")
      nuxt-icon(name="postgresql-logo")
    a(title="MariaDB")
      nuxt-icon(name="mariadb-logo")
    a(title="MySQL")
      nuxt-icon(name="mysql-logo")
    a(title="Elasticsearch")
      nuxt-icon(name="elasticsearch-logo")
    a(title="Manticoresearch")
      nuxt-icon(name="manticoresearch-logo")
    a(title="Git")
      nuxt-icon(name="git-logo")
    a(title="Ubuntu")
      nuxt-icon(name="ubuntu-logo")
    a(title="Debian")
      nuxt-icon(name="debian-logo")
    a(title="Atlassian stack")
      nuxt-icon(name="atlassian-stack-logo")
    a(title="Grafana stack")
      nuxt-icon(name="grafana-stack-logo")
    a(title="Sentry")
      nuxt-icon(name="sentry-logo")
  div.contact-research-title
    h1 {{ $t('research') }}
  div.contact-research
    a(title="Kubernetes")
      nuxt-icon(name="k8s-logo")
    a(title="Apache Kafka")
      nuxt-icon(name="kafka-logo")
    a(title="Clickhouse")
      nuxt-icon(name="clickhouse-logo")
    a(title="Rust")
      nuxt-icon(name="rust-logo")
    a(title="Rocket framework")
      nuxt-icon(name="rocket-logo")
    a(title="Java")
      nuxt-icon(name="java-logo")
    a(title="Gin framework")
      nuxt-icon(name="gin-logo")
  div.contact-projects
    a(href="https://foobar.kz")
      nuxt-icon(name="foobar-logo-v1")
      span &ndash;&nbsp; {{ $t('foobar') }}
    a(href="https://devnet.kz")
      nuxt-icon(name="devnet-logo-v1")
      span &ndash;&nbsp; {{ $t('devnet') }}

</template>
<script setup lang="ts">
import {useI18n} from "#imports";

const {t} = useI18n(),
      url = useRequestURL()

useHead({
  title: t('title'),
  meta:  [
    {
      name: 'description', content: t('description'),
    },
  ],
})
</script>
<style lang="scss">
.contact {
  &-container {
    @apply text-white grid grid-cols-1 content-center pt-10 w-full select-none;
    
    > div {
      @apply mx-auto opacity-75 text-white;
      
      > .nuxt-icon {
        @apply fill-current mx-auto w-40;
      }
    }
    
    > .project {
      @apply
      text-white
      grid
      grid-cols-1
      content-center
      pt-10
      w-full
      select-none
      ;
      
      > div {
        @apply mx-auto opacity-75 text-white;
        
        > .nuxt-icon {
          @apply fill-current mx-auto w-40;
        }
      }
    }
  }
  
  &-heading {
    @apply mx-auto opacity-75 text-white tracking-widest text-2xl pb-4;
    
    > div {
      @apply text-center;
      
      &:nth-child(2) {
        @apply mt-2 text-xs;
      }
    }
  }
  
  &-stack {
    @apply block
    grid
    grid-cols-7
    sm:grid-cols-9
    gap-2
    pt-4
    pb-4
    ;
    
    a {
      @apply border-blue-darker/50 border rounded;
      
      > span {
        @apply text-white/50 align-middle rounded bg-white/10 shadow;
        
        &:hover {
          @apply text-white;
        }
      }
      
      &:hover {
        @apply border-white/50 border;
      }
      
      > .nuxt-icon {
        @apply inline-block w-12 shadow;
      }
    }
  }
  
  &-research {
    @apply
    block
    grid
    grid-cols-7
    sm:grid-cols-9
    gap-2
    pt-4
    pb-4
    ;
    
    &-title {
      h1 {
        @apply text-white/60 block tracking-wide;
      }
    }
    
    a {
      @apply opacity-60 border-blue-darker/50 border;
      
      > span {
        @apply
        text-white/50
        align-middle
        rounded
        bg-white/5
        ;
      }
      
      > .nuxt-icon {
        @apply inline-block w-12 shadow;
      }
    }
  }
  
  &-projects {
    @apply
    grid
    grid-cols-1
    sm:grid-cols-2
    text-center
    pt-2
    ;
    
    a {
      @apply text-white/80 opacity-50 hover:opacity-100;
      
      > span {
        @apply align-middle p-0 sm:p-1;
      }
      
      > .nuxt-icon {
        @apply inline-block w-20;
      }
    }
  }
}
</style>
