<template lang="pug">
layout-header
main
  slot(name="notes")
</template>
<script setup lang="ts">
const articles = await queryContent()
    .where({category: {$icontains: "php"}})
    .find()
console.log(articles)
</script>
<style lang="scss">

</style>