<template lang="pug">
footer
  div.contact-icons
    a(href="https://github.com/YerlenZhubangaliyev/")
      nuxt-icon(name="github-logo")
    a(href="https://www.linkedin.com/in/yerlen-zhubangaliyev/")
      nuxt-icon(name="linkedin-logo")
    a(href="https://t.me/yz7056721311").indicator
      div.indicator-content
        nuxt-icon(name="check" class="w-2")
      nuxt-icon(name="telegram-logo")
    a(href="https://wa.me/77056721311")
      nuxt-icon(name="whatsapp-logo")
    a(href="https://join.skype.com/invite/I7deXXzagfGA")
      nuxt-icon(name="skype-logo")
    a(href="https://twitter.com/yz7056721311")
      nuxt-icon(name="x-logo")
    a(href="https://patreon.com/yerlen").indicator
      div.indicator-content 2
      nuxt-icon(name="patreon-logo")
  div {{ new Date().getFullYear() }} &ndash; {{ $t('author') }}
</template>

<style lang="scss">
.indicator {
  
  @include indicator(4, 10px)
}

.contact {
  &-icons {
    @apply pt-3 text-white select-none;
    
    a {
      @apply inline-block m-2 opacity-50 hover:opacity-100  hover:animate-pulse;
      
      > .nuxt-icon {
        @apply w-4 fill-current;
      }
    }
  }
}
</style>
