<template lang="pug">
header
  div.language-switch
    nuxt-link(v-for="locale in availableLocales" :key="locale.code" :to="switchLocalePath(locale.code)")
      nuxt-icon(name="translate")
      span {{ $t(locale.code) }}
</template>
<script setup lang="ts">
import {useI18n} from "#imports";

const {locale, locales,} = useI18n(),
      switchLocalePath   = useSwitchLocalePath(),
      availableLocales   = computed(() => {
        return locales.value.filter(i => i.code !== locale.value)
      })
</script>
<style lang="scss">
.language-switch {
  @apply text-white/50 absolute right-6 top-6;
  
  a {
    @apply bg-blue-dark p-2 opacity-80 rounded;
  }
  
  .nuxt-icon {
    @apply inline-block fill-current mx-auto w-6 mr-1;
  }
}
</style>
