<template lang="pug">
main.error
  div
    div {{ props.error.statusCode }}
    div
      nuxt-link(to="/")
        nuxt-icon(name="house")
      nuxt-link {{ props.error.statusMessage }}
</template>
<script setup lang="ts">
import type {NuxtError} from '#app'

const props = defineProps({
  error: Object as () => NuxtError
})
</script>
