@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 16px;

  body {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;

    @apply bg-blue-dark;

    header {
      @apply fixed top-0 left-0 right-0 z-20 select-none;
    }

    footer {
      @apply
      fixed
      bottom-0
      left-0
      z-20
      mt-10
      bg-blue-dark
      h-auto
      sm:min-h-10
      w-full
      text-white/70
      flex
      items-center
      justify-center
      grid
      grid-cols-1
      sm:grid-cols-2
      gap-4
      place-items-stretch
      text-xs
      select-none
      drop-shadow-[0_6px_6px_rgba(0,0,0,1)]
      opacity-90
      ;

      > div {
        @apply pl-0 pr-0 pt-4 pb-4 sm:pl-4 sm:pr-4 sm:pt-0 sm:pb-0;

        &:nth-child(1) {
          @apply pb-0 text-center sm:text-left;
        }

        &:nth-child(2) {
          @apply pt-0 text-center sm:text-right;
        }
      }
    }

    main {
      @apply bg-gradient-to-b from-blue-dark to-blue flex h-fit min-h-screen justify-center items-center
      pb-28 sm:pb-20;
    }

    .nuxt-icon {
      vertical-align: middle !important;

      svg {
        width: inherit;
        height: inherit;
        margin-bottom: 0;
        vertical-align: middle !important;

        @apply fill-current;
      }
    }

    .error {
      @apply select-none;

      > div {
        @apply mx-auto text-8xl text-white block;

        > div {
          @apply text-center;
          @apply flex items-center justify-center;

          a {
            @apply mr-2;

            .nuxt-icon {
              @apply w-4;
            }
          }

          &:nth-child(2) {
            @apply text-xs;
          }
        }
      }
    }
  }
}
